.wage2salary-container
    display: flex
    flex-direction: column
    align-items: center
    background-color: #bdbdbd
    height: 602px
    width: 1081px
    margin: 10% auto
    h1
        margin: 2.75% 0 
        font-family:  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
        font-style: bold
        font-weight: 700
        font-size: 4rem
        // font-size: 60px
    .form-contents-container
        display: flex
        border: 1px dashed black
        padding: 10px

    .form-container
        display: flex
        width: 928px
        height: 420px
        flex-direction: column
        align-items: center
        position: relative
        top: 8%
    form
        display: flex
        flex-direction: column
        height: 157px
        width: 733px
        align-items: center
        justify-content: space-evenly
        input[type="text"]
            width: 733px
            height: 68px
        input[type="button"]
            height: 59px
            width: 244px
            font-size: 2.5rem
    div[data-container=wage-2-yearly-output]
        
        height:158px
        width: 732px
        background-color: #8f8f8f