.wage2salary-container
    display: flex
    flex-direction: column
    align-items: center
    background-color: #bdbdbd
    height: 602px
    width: 1081px
    margin: 0 auto
    // .form-container
    form
        display: flex
        flex-direction: column
        height: 157px
        width: 733px
        align-items: center
        justify-content: space-evenly
        input[type="text"]
            width: 733px
            height: 68px
        input[type="button"]
            height: 59px
            width: 244px
    div[data-container=wage-2-yearly-output]
        
        height:158px
        width: 732px
        background-color: #8f8f8f